.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.Header {
    justify-content: flex-start;
    display: flex;
}
.Header.Button {
    justify-content: flex-end;
    display: flex;
}

.App-link {
  color: #09d3ac;
}
